<div class="animated fadeIn">
	<div class="row">
		<h3 class="col-6">Danh sách chức vụ và quyền</h3>
		<div class="col-6">
			<button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm chức vụ và quyền</button>
			<button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa chức vụ và quyền</button>
		</div>
	</div>
	<div class="table-wrapper">
		<data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
		[selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
		<data-table-column property="name" header="Tên chức vụ và quyền" [sortable]="true">
		</data-table-column>
		<data-table-column property="type" header="Hình thức" [sortable]="true">
		</data-table-column>
		<data-table-column header="Thao tác">
			<ng-template #dataTableCell let-item="item">
				<button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i> Sửa</button>
				<em class="btn">/</em>
				<button (click)="roleApiItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-wrench"></i> Phân quyền</button>
			</ng-template>
		</data-table-column>
		</data-table>
	</div>
</div>