<div class="animated fadeIn">
	<div class="row">
		<h3 class="col-6">Danh sách loại thông báo</h3>
		<div class="col-6">
			<button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm loại thông báo</button>
			<button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa loại thông báo</button>
		</div>
	</div>
	<div class="table-wrapper">
		<data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
		[selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
		<data-table-column property="name" header="Tên loại thông báo" [sortable]="true">
		</data-table-column>
		<data-table-column property="priority" header="Ưu tiên" [sortable]="true">
		</data-table-column>
		<data-table-column header="Danh sách thông báo">
			<ng-template #dataTableCell let-item="item">
				<a  routerLinkActive="active" routerLink="../../announcement-type/{{item.id}}/announcement/list">
					Danh sách thông báo
				</a>
			</ng-template>
		</data-table-column>
		<data-table-column header="Thao tác">
			<ng-template #dataTableCell let-item="item">
				<button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
			</ng-template>
		</data-table-column>
		</data-table>
	</div>
</div>