<div class="animated fadeIn">
	<div class="row">
		<h3 class="col-6">Danh sách loại phòng</h3>
		<div class="col-6">
			<button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm loại phòng</button>
			<button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa loại phòng</button>
		</div>
	</div>
	<div class="table-wrapper">
		<data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
		[selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
		<data-table-column property="id" header="Mã loại phòng" [sortable]="true">
		</data-table-column>
		<data-table-column header="Dánh sách khoản thu" >
			<ng-template #dataTableCell let-item="item">
				<p *ngIf="item.roomFees.length > 0">
					<ng-template ngFor let-roomFee [ngForOf]="item.roomFees" let-last="last">
						{{roomFee.name}}<em *ngIf="!last">,</em>
					</ng-template>
				</p>
			</ng-template>
		</data-table-column>
		<data-table-column header="Thao tác">
			<ng-template #dataTableCell let-item="item">
				<button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
			</ng-template>
		</data-table-column>
		</data-table>
	</div>
</div>