<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <form #itemFrm="ngForm" style="margin-bottom: 0;">
                    <div class="card-header">
                        <strong>Thông tin</strong>
                        <!-- <button class="btn btn-md button-default-info ml-auto" (click)="exportPDF()"><i class="fa fa-print"></i>In
                            hoá đơn</button> -->
                    </div>
                    <div class="card-block">
                        <div class="form-group row" *ngIf="building !== null">
                            <label class="col-md-2 header-text" for="text-input">Toà nhà</label>
                            <div class="col-md-10">
                                <input type="text" #buildingControl="ngModel" [(ngModel)]="building" name="building" class="form-control input-control"
                                    [placeholder]="'Nhập toà nhà'" required readonly>
                            </div>
                        </div>
                        <div class="form-group row"  *ngIf="room !== null">
                            <label class="col-md-2 header-text" for="text-input">Phòng</label>
                            <div class="col-md-10">
                                <input type="text" #roomControl="ngModel" [(ngModel)]="room" name="room" class="form-control input-control"
                                    [placeholder]="'Nhập phòng'" required readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 header-text" for="text-input">Loại phòng</label>
                            <div class="col-md-10">
                                <input type="text" #roomTypeControl="ngModel" [(ngModel)]="roomType" name="roomType" class="form-control input-control"
                                    [placeholder]="'Nhập loại phòng'" required readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 header-text" for="text-input">Tầng</label>
                            <div class="col-md-10">
                                <input type="number" #floorControl="ngModel" [(ngModel)]="floor" name="floor" class="form-control input-control"
                                    [placeholder]="'Nhập tầng'" required readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 header-text" for="text-input">Ngày bắt đầu ở</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Chọn ngày bắt đầu ở" class="form-control"
                                            bsDatepicker #appliedDateShowControl="ngModel" [(ngModel)]="appliedDateShow"
                                            name="appliedDateShow" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            #start1="bsDatepicker" placement="right">
                                    </div>
                                    <div class="col-md-8">
                                        <button class="btn btn-success" (click)="start1.toggle()" [attr.aria-expanded]="start1.isOpen">Chọn
                                            ngày bắt đầu ở</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 header-text" for="text-input">Ngày hết hạn</label>
                            <div class="col-md-10">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="text" placeholder="Chọn ngày hết hạn" class="form-control"
                                            bsDatepicker #expirationDateShowControl="ngModel" [(ngModel)]="expirationDateShow"
                                            name="expirationDateShow" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                            #start="bsDatepicker" placement="right">
                                    </div>
                                    <div class="col-md-8">
                                        <button class="btn btn-success" (click)="start.toggle()" [attr.aria-expanded]="start.isOpen">Chọn
                                            ngày hết hạn</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" style="border-top: 1px solid #e1e6ef;">
                        <strong>Khoản thu </strong>
                        <!-- <button class="btn btn-md button-default-info ml-auto" (click)="addFee()"><i class="fa fa-plus"></i>Thêm
                            khoản thu</button> -->
                    </div>
                    <div class="card-block">
                        <div class="form-group row" *ngFor="let item of fees; let i=index">
                            <label class="col-md-2 header-text" for="text-input">Khoản thu {{i+1}}</label>
                            <div class="col-md-10">
                                <input type="text" [(ngModel)]="fees[i].name" name="fees{{i}}.name" class="form-control input-control"
                                    [placeholder]="'Nhập tên khoản thu'" required style="margin-bottom: 10px">
                                <input type="number" [(ngModel)]="fees[i].fee" name="fees{{i}}.fee" class="form-control input-control"
                                    [placeholder]="'Nhập số tiền'" required style="margin-bottom: 10px" disabled>
                                <input type="text" [(ngModel)]="fees[i].unit" name="fees{{i}}.unit" class="form-control input-control"
                                    [placeholder]="'Nhập đơn vị tính'" required>
                            </div>
                        </div>
                    </div>
                    <div class="card-header" style="border-top: 1px solid #e1e6ef;">
                        <h4>Tổng số ngày ở : {{totalDaysStay}}/30 tháng</h4>
                    </div>
                    <div class="card-header">
                        <h4>Tổng tiền : {{totalFees | accounting}}</h4>
                    </div>
                </form>
                <div class="card-footer">
                    <button (click)="updateAndClose(itemFrm)" *ngIf="isEdit" class="btn btn-ladda btn-primary ml-auto"
                        data-style="expand-right" [ladda]='submitting'><i class="fa fa-edit"></i> Sửa và thoát</button>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
</div>