<div class="animated fadeIn">
	<div class="row">
		<h3 class="col-6">Danh sách sinh viên</h3>
	</div>
	<div class="table-wrapper">
		<div class="search-bar row">
			<div class="col-md-8">
				<form #searchForm="ngForm">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col">
									<select #buildingControl="ngModel" [(ngModel)]="building" name="building" class="form-control input-control" (change)="getListRooms($event)">
										<option value=null [selected]="true" disabled>Toà nhà</option>
										<option [value]="building.id" *ngFor="let building of listBuildings">
											{{building.name}}
										</option>
									</select>
								</div>
								<div class="col">
									<select #roomControl="ngModel" [(ngModel)]="room" name="room" class="form-control input-control" [disabled]="!loadBuildingDone">
										<option value=null [selected]="true" disabled>Phòng</option>
										<option [value]="room.name" *ngFor="let room of listRooms">
											{{room.name}}
										</option>
									</select>
								</div>
								<!-- <div class="col">
									<select #hasRoomControl="ngModel" [(ngModel)]="hasRoom" name="hasRoom" class="form-control input-control">
										<option value=null [selected]="true" disabled>Trạng thái</option>
										<option value="true">Đã có phòng</option>
										<option value="false">Chưa có phòng</option>
									</select>
								</div> -->
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-md-4 search-page-button">
				<div class="row" style="padding-bottom: 15px;">
					<div class="col">
						<button (click)="searchStudent(searchForm)" class="btn btn-md btn-ladda button-default-primary ml-h" data-style="expand-right" [ladda]='submitting'><i class="fa fa-search"></i>Tìm kiếm</button>
					</div>
					<div class="col">
						<button class="btn btn-md button-default-success ml-h" (click)="assessmentStudent(templateAdd)" ><i class="fa fa-check-square-o"></i>Đánh giá sinh viên</button>
					</div>
				</div>
			</div>
		</div>
		<data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
		[selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
		<data-table-column property="username" header="Tên đăng nhập">
		</data-table-column>
		<data-table-column header="Họ và tên">
			<ng-template #dataTableCell let-item="item">
				{{item.lastName}} {{item.firstName}}
			</ng-template>
		</data-table-column>
		<data-table-column property="building" header="Toà nhà">
		</data-table-column>
		<data-table-column property="room" header="Phòng ở">
		</data-table-column>
		<data-table-column header="Thao tác">
			<ng-template #dataTableCell let-item="item">
				<button (click)="getListAssessments(item)" class="btn btn-sm btn-table btn-yellow" style="font-size: 10px;text-transform: inherit;"><i class="fa fa-eye"></i> Chi tiết</button>
			</ng-template>
		</data-table-column>
		</data-table>
	</div>
</div>
<ng-template #templateAdd>
    <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Thêm đánh giá</h4>
        <button type="button" class="close pull-right" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #assessmentForm="ngForm">
            <div class="form-group row">
                <label class="col-md-3 header-text" for="text-input">Nội dung đánh giá: </label>
                <div class="col-md-9">
                    <textarea type="text" #contentControl="ngModel" [(ngModel)]="content" name="content" class="form-control input-control" [placeholder]="'Nhập nội dung đánh giá'" required rows="7">
					</textarea>
                    <small *ngIf="contentControl.errors?.required" class="text-muted danger">
                    (Không được bỏ trống)
                    </small>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button (click)="addAssessment(assessmentForm)" type="button" class="btn btn-primary"  data-style="expand-right" [ladda]='submitting'><i class="fa fa-plus"></i> Thêm</button>
    </div>
</ng-template>