<div class="animated fadeIn">
	<div class="row">
		<h3 class="col-6">Danh sách quảng cáo</h3>
		<div class="col-6">
			<button class="btn btn-md button-default-primary ml-auto" (click)="addItem()"><i class="fa fa-plus"></i>Thêm quảng cáo</button>
			<button class="btn btn-md button-default-danger ml-auto" (click)="deleteAll()" [disabled]="!itemsTable.selectedRows.length"><i class="fa fa-trash"></i>Xóa quảng cáo</button>
		</div>
	</div>
	<div class="table-wrapper">
		<data-table id="persons-grid" #itemsTable indexColumnHeader="STT" [items]="items | async" [itemCount]="itemCount" (reload)="reloadItems($event)" [pagination]="true" [indexColumn]="true" [selectColumn]="true" [multiSelect]="true" [substituteRows]="false"
		[selectOnRowClick]="true" [showReloading]="false" (rowClick)="rowClick($event)" (rowDoubleClick)="rowDoubleClick($event)">
		<data-table-column property="imageUrl" header="Avatar">
			<ng-template #dataTableCell let-item="item">
				<img height="50px" [src]="item.imageUrl?item.imageUrl:thumbDefault" onerror="this.src='http://www.breeze-animation.com/app/uploads/2013/06/icon-product-gray.png'">
			</ng-template>
		</data-table-column>
		<data-table-column property="priority" header="Ưu tiên" [sortable]="true">
		</data-table-column>
		<data-table-column header="Đường dẫn" [sortable]="true">
			<ng-template #dataTableCell let-item="item">
				<span style="overflow: hidden;display: -webkit-box;-webkit-line-clamp: 1;-webkit-box-orient: vertical;white-space: initial;">{{item.redirectUrl}}</span>
			</ng-template>
		</data-table-column>
		<data-table-column property="click" header="Lượt xem" [sortable]="true">
		</data-table-column>
		<data-table-column header="Thao tác">
			<ng-template #dataTableCell let-item="item">
				<button (click)="editItem(item)" class="btn btn-sm btn-table btn-yellow"><i class="fa fa-edit"></i></button>
			</ng-template>
		</data-table-column>
		</data-table>
	</div>
</div>